.row
  .span8.offset2
    .section.section-large
      .section-header
        %h3 Sign up to Motion Bombs
        %ul
          %li= link_to "Log in here →", login_path
      .section-body
        %h3 Get full access to the website
        %hr
        = render 'form'
        
