.row
  .span8.offset2
    .section.section-large
      .section-header
        %h3 Edit your video
        %ul
          %li= link_to "Manage your profile →", profile_path(current_user)
      .section-body
        %h3 Manage your video information
        %hr
        = render 'edit_form'
