.page-header
  %h1 The ultimate resource for stop-motion
  %small Browse, watch, add and learn.

.row
  %ul.thumbnails
    %li.span3
      .thumbnail
        %a{href:"#"}
          %img{src:"http://placehold.it/260x180", alt:""}
        .thumb_info
          %h5= truncate("Dot. The world smallest stop motion", length:25)
          %p
            %i.icon-eye-open
            11
            %i.icon-heart
            1
    %li.span3
      .thumbnail
        %a{href:"#"}
          %img{src:"http://placehold.it/260x180", alt:""}
        .thumb_info
          %h5 Dog and cat
          %p
            %i.icon-eye-open
            90
            %i.icon-heart
            10
    %li.span3
      .thumbnail
        %a{href:"#"}
          %img{src:"http://placehold.it/260x180", alt:""}
        .thumb_info
          %h5 Human spinball
          %p
            %i.icon-eye-open
            994
            %i.icon-heart
            4
    %li.span3
      .thumbnail
        %a{href:"#"}
          %img{src:"http://placehold.it/260x180", alt:""}
        .thumb_info
          %h5 Food cortesy
          %p
            %i.icon-eye-open
            %span.views 1474
            %i.icon-heart
            134
.row            
  %ul.thumbnails
    %li.span3
      %a.thumbnail{href:"#"}
        %img{src:"http://placehold.it/260x180", alt:""}
    %li.span3
      %a.thumbnail{href:"#"}
        %img{src:"http://placehold.it/260x180", alt:""}
    %li.span3
      %a.thumbnail{href:"#"}
        %img{src:"http://placehold.it/260x180", alt:""}
    %li.span3
      %a.thumbnail{href:"#"}
        %img{src:"http://placehold.it/260x180", alt:""}

.row
  %ul.thumbnails
    %li.span3
      %a.thumbnail{href:"#"}
        %img{src:"http://placehold.it/260x180", alt:""}
    %li.span3
      %a.thumbnail{href:"#"}
        %img{src:"http://placehold.it/260x180", alt:""}
    %li.span3
      %a.thumbnail{href:"#"}
        %img{src:"http://placehold.it/260x180", alt:""}
    %li.span3
      %a.thumbnail{href:"#"}
        %img{src:"http://placehold.it/260x180", alt:""}

.row
  %ul.thumbnails
    %li.span3
      %a.thumbnail{href:"#"}
        %img{src:"http://placehold.it/260x180", alt:""}
    %li.span3
      %a.thumbnail{href:"#"}
        %img{src:"http://placehold.it/260x180", alt:""}
    %li.span3
      %a.thumbnail{href:"#"}
        %img{src:"http://placehold.it/260x180", alt:""}
    %li.span3
      %a.thumbnail{href:"#"}
        %img{src:"http://placehold.it/260x180", alt:""}
