.row
  .span8.offset2
    .section.section-large
      .section-header
        %h3 Submit a new video
        %ul
          %li
            = link_to 'Browse all videos →', signup_path
      .section-body
        %strong Contribute to Motion Bombs by adding new videos.
        %small For the moment, we only support Youtube, though we are working more providers and every on offering our own custom video hosting.
        %hr
        = render 'form'
    