.row
  .span8.offset2
    .section.section-large
      .section-header
        %h3 Submit a new video
        %ul
          %li
            = link_to 'Browse all videos →', signup_path
      .section-body
        %hr
        = render 'form'
    