.row-fluid
  #video_title
    %h1= @video.title
  .video-box
    .video
      = format_for_youtube(@video.provider_video_id)

.row           
  %ul.thumbnails
    %li.span3
      %a.thumbnail{href:"#"}
        %img{src:"http://placehold.it/260x180", alt:""}
    %li.span3
      %a.thumbnail{href:"#"}
        %img{src:"http://placehold.it/260x180", alt:""}
    %li.span3
      %a.thumbnail{href:"#"}
        %img{src:"http://placehold.it/260x180", alt:""}
    %li.span3
      %a.thumbnail{href:"#"}
        %img{src:"http://placehold.it/260x180", alt:""}

.row-fluid
  %ul.thumbnails
    %li.span3
      %a.thumbnail{href:"#"}
        %img{src:"http://placehold.it/260x180", alt:""}
    %li.span3
      %a.thumbnail{href:"#"}
        %img{src:"http://placehold.it/260x180", alt:""}
    %li.span3
      %a.thumbnail{href:"#"}
        %img{src:"http://placehold.it/260x180", alt:""}
    %li.span3
      %a.thumbnail{href:"#"}
        %img{src:"http://placehold.it/260x180", alt:""}

.row
  %ul.thumbnails
    %li.span3
      %a.thumbnail{href:"#"}
        %img{src:"http://placehold.it/260x180", alt:""}
    %li.span3
      %a.thumbnail{href:"#"}
        %img{src:"http://placehold.it/260x180", alt:""}
    %li.span3
      %a.thumbnail{href:"#"}
        %img{src:"http://placehold.it/260x180", alt:""}
    %li.span3
      %a.thumbnail{href:"#"}
        %img{src:"http://placehold.it/260x180", alt:""}
