<h1>About</h1>
<p>
  <strong>Motion Bombs is a web gallery of the best stop-motion of the web<strong>
  we aim at giving you only the best of the best so you can be amazed by the creativity of stop-motion videos.
</p>
<p>
  <strong>Motion Bombs teaches you how to create stop-motions</strong>
  Not only do we show you stop-motion, but we also teach you how do roll your own! Visit the Guide to learn everything about stop-motion. The guide is a wiki, so don't hesitate to improve it!
</p>
