.row
  .span8.offset2
    .section.section-large
      .section-header
        %h3 Get help
        %ul
          %li= link_to "Log in here →", login_path
      .section-body
        %h3 Fill in the form and receive help
        %p Questions on how to use the website
        %hr
        = render 'form'