// Example using 'journal' bootswatch
//
// First import journal variables

@import "bootswatch/journal/variables";

// Then bootstrap itself
@import "bootstrap";

// Bootstrap body padding for fixed navbar
body { padding-top: 60px; }

// Responsive styles go here in case you want them
@import "bootstrap-responsive";

// And finally bootswatch style itself
@import "bootswatch/journal/bootswatch";
@import "video";
@import "form";
@import "nav";
@import "activity";

a { 
  text-decoration:none;
  &:hover {
    text-decoration: none;
    color: #0088cc;
  }
}
.page-header { 
  text-transform: uppercase;
  text-align: center;
  margin-top: 0px;
  h1 { font-size: 2em; }
  small { font-size: 1.3em;}  
}

.thumbnails {
  text-align:center;
  
  img { max-width:100%; height:auto;}
}

.thumbnails > li {
    display: inline-block;
    *display:inline; /* ie7 fix */
    float: none; /* this is the part that makes it work */
}

/* Thumbnail rollover */

.thumbnail {
  h5 {
    padding-top: 4px;
  }
  
  &:hover {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
     -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
          box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  }
}

$blue: #0088cc;
.center-text { text-align: center;}
.margin-top-2 { margin-top: 2px;}
.margin-top-20 { margin-top: 20px;}
.margin-bottom-2 { margin-bottom: 5px;}
.margin-bottom-20 { margin-bottom: 20px;}
.align-right { text-align: right;}
.light-text { color:#A8A8A8 ;}
.red-danger { color: #B94A48;}
.small-text { font-size: 0.7em;}

footer p { padding: 0 20px 20px;}
.label-login a {
  color: white;
  &:hover { color:white;}
}

/* .pagination { display: none;} */