.gray-caret { border-top-color: gray !important; border-bottom-color: gray !important; }
.notification { position: relative ; bottom: 2px;}
.badge { font-size: 10px;}
.badge-circle { padding: 1px 6px 2px;}
