.row
  .span8.offset2
    .section.section-large
      .section-header
        %h3 Login in
        %ul
          %li
            = link_to 'Sign up →', signup_path
      .section-body
        = link_to 'Login with Twitter', auth_at_provider_path(:provider => :twitter)
        %hr
        = render 'form'
        %hr
        %p.member-already
          %i.icon-user.margin-top-2
          Not a member?
          = link_to "Sign up here", signup_path